@import './base.css';

.bg-noise::before
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
    filter: url(#noiseFilter);
}